:root {
    --light-blue: #e7f2ff;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: black;
    background-color: var(--light-blue);
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 98vw;
    padding: .5rem 1vw;
    background-color: rgba(0, 0, 255, .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a img {
    width: 70px;
    height: auto;
    margin-left: 4rem;
    filter: contrast(0) brightness(10);
}

header nav {
    margin-right: 5rem;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    margin-left: 2rem;
}

header nav ul li a {
    color: white;
    font-size: 1.125rem;
}

header nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width .75s;
    margin-top: -3px;

}

header nav ul li a:hover::after {
    width: 100%;
    transition: width 0.4s;
}

main {
    align-items: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0 1rem 0;
}

#home h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 4rem 0;
}

#skills .skills__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#skills .skills__container > *:nth-child(n+4):nth-child(-n+6) {
    margin-left: 8rem;
}

#skills .skills__container .skill {
    width: 80px;
    height: 80px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-blue);
    border: 1px solid blue;
    border-radius: 50%;
}

#skills .skills__container .skill img{
    width: 50px;
}


